<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>That's A Bad Sign</title>
    <!--link rel="stylesheet" href="/style.css" /-->
    <!--link rel="icon" href="/favicon.ico" type="image/x-icon" /-->
    <style>
      :root {
        --theme-bg: #282828;
        --theme-bg-deep: #1d2021;
        --theme-bg-shallow: #3c3836;
        --theme-red: #fb4934;
        --theme-green: #b8bb26;
        --theme-aqua: #8ec07c;
        --theme-grey: #928374;
        --theme-yellow: #fabd2f;
        --theme-fg: #ebdbb2;
      }

      .text-good {
        color: var(--theme-green);
      }

      .text-okay {
        color: var(--theme-yellow);
      }

      .text-bad {
        color: var(--theme-red);
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: var(--theme-bg-deep);
        color: var(--theme-bg-deep);
        font-size: 1.4rem;
        font-family: monospace;
      }

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .entry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--theme-bg-shallow);
        color: var(--theme-fg);
        margin: 0 0 1em 0;
        width: 100%;
      }

      .domain {
        font-size: 1.5rem;
      }

      .bytes {
        color: var(--theme-yellow);
      }

      .green {
        color: var(--theme-green);
      }

      main {
        display: grid;
        grid-template-columns: 1fr minmax(800px, 1000px) 1fr;
      }

      div.main {
        margin-top: 6%;
        display: grid;
        place-items: center;
        width: 100%;
        gap: 30 0;
      }


      div.entry-header {
        display: flex;
      }

      div.online {
        padding: 10px;
        background-color: var(--theme-green);
        color: var(--theme-bg);
        font-size: 1.5rem;
        font-weight: bold;
      }

      div.offline {
        padding: 10px;
        background-color: var(--theme-red);
        color: var(--theme-bg);
        font-size: 1.5rem;
        font-weight: bold;
      }

      div.header-right {
        display: flex;
        align-items: center;
      }

      div.ip {
        align-items: center;
        padding-left: 14pt;
        padding-right: 14pt;
        width: 100%;
      }

      div.cert {
        padding-top: 10pt;
        padding-bottom: 10pt;
        text-align: center;
      }

      div.cert p {
        margin-top: 5pt;
        margin-bottom: 0;
      }

      div.cert p.expires {
        margin-bottom: 20pt;
      }

      div.http {
        text-align: center;
        padding-top: 10pt;
        padding-bottom: 10pt;
      }

      div.http p {
        margin-top: 5pt;
        margin-bottom: 0;
      }

      .triangle {
        width: 2px;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
      }

      p {
        padding: 0;
        margin: 0;
        margin-top: 5px;
      }

      p.label {
        padding-top: 4pt;
        border-bottom: 2pt solid var(--theme-bg-deep);
        font-size: 12pt;
        color: var(--theme-bg-deep);
      }
    </style>
  </head>
  <body>
    <main>
      <div></div>
      <div class="main">
        <%domains.each do |domain| %>
          <% online_class = if domain.online? then "online" else "offline" end %>
          <% response_time_ms = domain.response_time_ms %>
          <% http_version = domain.response_http_version %>
          <% body_length = domain.response_body_length %>
          <% expire_days = TimeFormat::days_until(domain.cert_not_after) %>
          <div class="entry">
            <div>
              <div class="entry-header">
                <div class="<%=online_class%>">
                  <p><%= domain.fqdn %></p>
                </div>
                <div class="<%=online_class%> triangle"></div>
              </div>
            </div>
            <div class="cert">
              <p class="expires"><%= domain.cert_not_after.strftime("%Y-%m-%d") %> (In <span class="text-<%= Web::Style::expire_days_css_class(expire_days) %>"><%= expire_days %></span> days.)</p>
            </div>
            <div class="http">
              <div>
                <p>HTTP <span class="text-<%= Web::Style::http_version_css_class(http_version) %>"><%= http_version %></span></p>
              </div>
              <div>
                <p><span class="text-<%= Web::Style::ping_css_class(response_time_ms) %>"><%= response_time_ms %></span> ms</p>
              </div>
              <p><span class="text-<%= Web::Style::body_length_css_class(body_length) %>"><%= body_length  %></span> bytes</p>
          </div>
        </div>
        <%end %>
      </div>
      <div></div>
    </main>
  </body>
</html>
