<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>That's A Bad Sign</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <style>
      :root {
        --theme-bg: #282828;
        --theme-bg-deep: #1d2021;
        --theme-bg-shallow: #3c3836;
        --theme-red: #fb4934;
        --theme-green: #b8bb26;
        --theme-aqua: #8ec07c;
        --theme-grey: #928374;
        --theme-yellow: #fabd2f;
        --theme-fg: #ebdbb2;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: var(--theme-bg-deep);
        color: var(--theme-bg-deep);
        font-size: 1.4rem;
        font-family: monospace;
      }

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 40px 1fr 1fr;
      }

      .entry {
        min-width: 800px;
        background-color: var(--theme-bg-shallow);
        color: var(--theme-fg);
        margin: 0 0 1em 0;
      }

      .domain {
        font-size: 1.5rem;
      }

      .bytes {
        color: var(--theme-yellow);
      }

      .green {
        color: var(--theme-green);
      }

      div.main {
        margin-top: 6%;
        display: grid;
        place-items: center;
        #display: flex;
        #align-items: center;
        #justify-content: center;

        gap: 30 0;
      }

      div.online {
        padding: 10px;
        background-color: var(--theme-green);
        color: var(--theme-bg);
        font-size: 1.5rem;
        font-weight: bold;
      }

      div.offline {
        padding: 10px;
        background-color: var(--theme-red);
        color: var(--theme-bg);
        font-size: 1.5rem;
        font-weight: bold;
      }

      div.cert {
        display: grid;
        place-items: center;
      }

      div.size {
        display: grid;
        place-items: center;
      }

      .triangle {
        width: 2px;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
      }
      p {
        padding: 0;
        margin: 0;
        margin-top: 5px;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="main">
        <%domains.each do |domain| %> <%online_class = if domain.online? then "online" else "offline" end%>
        <div class="wrapper entry">
          <div class="<%=online_class%>">
            <p><%= domain.fqdn %></p>
          </div>
          <div class="<%=online_class%> triangle"></div>
          <div class="cert">
            <p><%= domain.cert_not_after.strftime("%Y-%m-%d") %></p>
          </div>
          <div class="size">
            <p>
              <span class="bytes"><%= domain.response_body_length %></span>
              bytes
            </p>
          </div>
        </div>
        <br />
        <%end %>
      </div>
    </main>
  </body>
</html>
